@model DidactischeLeermiddelen.Models.CatalogViewModel
    @using (Html.BeginForm("Index", "Catalog", FormMethod.Post, new {id="formSearch"}))
    {
        <div class="form-inline center">
            <div class="form-group">
                <label for="SearchString" class="control-label col-md-1">Zoekterm</label>
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new {@class = "form-control"})
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.FieldOfStudy, new {@class = "control-label col-md-1"})
                @Html.DropDownListFor(model => model.FieldOfStudy, ViewBag.FieldsOfStudy as SelectList, "Alle", new {@class = "form-control"})
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TargetGroup, new {@class = "control-label col-md-1"})
                @Html.DropDownListFor(model => model.TargetGroup, ViewBag.TargetGroups as SelectList, "Alle", new {@class = "form-control"})
            </div>
            <div class="form-group">
                <label for="button" class="control-label col-md-1">&nbsp;</label>
                <button id="button" type="submit" class="form-control col-md-1 btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
            </div>
        </div>


    }