@using DidactischeLeermiddelen.HtmlHelpers
@model IEnumerable<DidactischeLeermiddelen.ViewModels.ReservationViewModel>

@{
    ViewBag.Title = "Reservaties";
}
@Html.Partial("_notificationPartial")

<h2>Lopende Reservaties</h2>


<div class="col-md-12">
    <div class="row reservation-row" >
        <div class="col-md-1"></div>
        <div class="col-md-4">@Html.DisplayNameFor(model => model.Name)</div>
        <div class="col-md-2">@Html.DisplayNameFor(model => model.AmountWanted)</div>
        <div class="col-md-2">@Html.DisplayNameFor(model => model.Date)</div>
        <div class="col-md-1">Actie</div>
    </div>
@foreach (var item in Model)
{
    <div class="row reservation-row">
        <div class="col-md-1">@Html.Image(item.Picture, item.Name, "img-responsive")</div>
        <div class="col-md-4">@Html.DisplayFor(modelItem => item.Name)</div>
        <div class="col-md-2">@Html.DisplayFor(modelItem => item.AmountWanted)</div>
        <div class="col-md-2">@Html.DisplayFor(modelItem => item.Date)</div>
        <div class="col-md-1">@Html.ActionLink("Verwijder", "Delete", new { reservationId = item.Reservation.Id })</div>
    </div>
    }

</div>



















