@using DidactischeLeermiddelen.HtmlHelpers
@model IEnumerable<DidactischeLeermiddelen.ViewModels.ReservationViewModel>

@{
    ViewBag.Title = "Reservaties";
}
@Html.Partial("_notificationPartial")

<h2>Lopende Reservaties</h2>



<table class="table">
    <tr>
        <th class="col-md-4">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountWanted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            Actie
        </th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.AmountWanted)</td>
            <td>@Html.DisplayFor(modelItem => item.Date)</td>
            <td>@Html.ActionLink("Verwijder", "Delete", new { learningUtilityId = item.Id , reservationId = item.Reservation.Id })</td>
        </tr>
    }
</table>


















